<template>
	<div class="slds-grid slds-wrap">
		<template for:each={titles} for:item="title">
			<div key={title.Id} class="slds-col slds-size_1-of-3 slds-var-p-around_small">
				<c-title-card title={title}>
					<img class="thumbnail" src={title.Thumbnail__c}>
                	{title.Genre__c}
				</c-title-card>
			</div>
		</template>
	</div>
</template>