<template>
    <div onclick={handleTitleSelection}>
        <lightning-card title={title.Name}>
            <div class="slds-var-p-around_small">
                <slot></slot>
            </div>
            <div slot="footer">
                Available {title.Available_Stock__c} / {title.Total_Stock__c}
            </div>
        </lightning-card>
    </div>
</template>