<template>
    <template if:true={title}>
        <c-title-card title={title}>
            <c-stock-table onstockclicked={handleStockClick} stocks={stocks}></c-stock-table>
            <lightning-record-view-form 
                        object-api-name="Stock__c"
                        record-id={selectedStockId}>
                <lightning-output-field field-name="Name"></lightning-output-field>
                <lightning-output-field field-name="Status__c"></lightning-output-field>
            </lightning-record-view-form>
        </c-title-card>
    </template>
</template>