<template>
    <table class="slds-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <template for:each={stocks} for:item="stock">
                <tr key={stock.Id}>
                    <td><a onclick={selectStock}>{stock.Name}</a></td>
                    <td>{stock.Status__c}</td>
                </tr>
            </template>
        </tbody>
    </table>
</template>